Welcome Home
	<div>
	  <%= link_to "Find users", users_search_path  %>
	</div>

	<div>
		<% @friends.each do |friend| %>
				<p><%= friend.username %></p>
		<% end %>

		<% @requests.each do |request| %>
			<%=  request.username %>
		<% end %>
	</div>