<div class='row'>
	<h2>Welcome Home</h2>	
	<% @friends.each do |friend| %>
			<li><%= link_to friend.username, find_friendship_path(friend.id) %></li>
	<% end %>

	<div class='pending-friends'>
		<% if !@requests.nil? %>e
			<% @requests.each do |request|%>
				<%=  request.username %>
				<%= link_to "Accept", friendships_path(:friend_id => request.id), :method => :post  %>
			<% end %>
		<% end %>
	</div>
</div>
