Welcome Home
	<div>
	  <%= link_to "Find users", users_search_path  %>
	</div>

	<div>
		<% @friends.each do |friend| %>
				<p><%= friend.username %></p>
		<% end %>

		<% if @request %>
			<% @requests.each do |request|%>
				<%=  request.username %>
				<%= link_to "Accept", create_friendship_path(:friend_id => request.id), :method => :post  %>
			<% end %>
		<% end %>
	</div>