Welcome Home
	<div>
	  <%= link_to "Find users", users_search_path  %>
	</div>

	<div>
		<% @friends.each do |friend| %>
				<p><%= link_to friend.username, controller: 'friendships', action:'show', friend_id: friend.id %></p>
		<% end %>

		<% if !@requests.nil? %>
			<% @requests.each do |request|%>
				<%=  request.username %>
				<%= link_to "Accept", create_friendship_path(:friend_id => request.id), :method => :post  %>
			<% end %>
		<% end %>
	</div>
